#Env
NODE_ENV = Complete with nodejs enviroment

#Port
PORT= Complete with port.

# Log
LOG_LEVEL = compleate with the level logger

#MapboxMAPBOX_API_KEY = complete with maxbox api key

#Ooen weather Map
OPENWEATHERMAP_API_KEY= complete with open weather map api key